<!-- only display current Genre if genre pramams have been passed-->
<% if params[:genre].blank? != true %>
	<h1 class="current_genre">Genre: <%= params[:genre] %></h1>
<% end %>
<div>
	<div>
	<% if @albums.count == 0 %>
		<h2>There are currently no albums in this category</h2>
	<% else %>
		<%# nested loop populates rows by 3 album objects%>
		<% @albums.each_slice(3) do |albums| %>
			<div class="row">
				<% albums.each do |album| %>
				<div class="col-md-4">
					<%= link_to image_tag(album.album_img, :class => "img-responsive index-tile shadow"), album_path(album.id) %>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
	<% end %>
<div class="row"><br></div>
<div class="row">
	<%= link_to "Add Album", new_album_path, :class => "btn btn-default" %>
</div>

